html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
html, body {
    height:100%;
}

#red {
    background:red;
    /* so that it always appears*/
    position:relative;
}

#yellow {
    background:yellow;
}

#green {
    background:green;
}

#blue {
    background:blue;
}

#purple {
    background: purple;
    height:100px;
    width:100%;
    /*width is necessary so that it appears*/
    position:absolute;
    bottom:0;
}

.parent {
    position:absolute;
    top:100px;
    bottom:100px;
    width:100%;
}

#yellow, #green, #blue {
    height:100%;
    width:33.3333%;
    float:left;
    position: relative;
}

#red, #purple {
    height: 100px;
    width:100%
}
